<footer class="site-footer">

  <div class="wrapper">

    <div class="follow-blog">
      <p>
        Nous suivre:
        {% include icon-rss.html %}

        {% if site.github_username %}
        {% include icon-github.html username=site.github_username %}
        {% endif %}

        {% if site.twitter_username %}
        {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
      </p>
    </div>

    <div class="license">
      <a rel="license" href="http://creativecommons.org/publicdomain/zero/1.0/">
        <img src="http://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0" />
      </a>
      Les recettes de ce site sont cédées au domaine public selon les termes de <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0 1.0 universel</a>.
    </div>

  </div>

</footer>
