---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% assign date_english = page.date | date: date_format %}
        {% include date-french.html %}
        {{ date_french }}
      </time>
      {% if page.updated %}
        <time datetime="{{ page.updated | date_to_xmlschema }}" itemprop="dateUpdated">
          {% assign date_format = site.minima.date_format_min | default: "%b %-d, %Y" %}
          {% assign date_english = page.updated | date: date_format %}
          {% include date-french.html %}
          (dernière mise à jour le {{ date_french }})
        </time>
      {% endif %}
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}
      {% assign tag_links = "" %}
      {% for t in page.tags %}
        {% if tag_links != "" %}
          {% assign tag_links = tag_links | append: ", " %}
        {% endif %}
        {% assign tag_links = tag_links | append: "<a href='/tags/" | append: t | append: ".html'>" | append: "#" | append: t | append: "</a>" %}
      {% endfor %}
      {% if tag_links != "" %}
        • <span>[ {{ tag_links }} ]</span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
